@import "../../../styles/variables";

.ArtistLogo {
  width: 100%;
  max-width: 500px;
}

.DetailsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.ArtistLogos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.ArtistLogo {
  margin-bottom: 45px;
}

.Featuring {
  margin-bottom: 45px;
  margin-top: 7px;
}

.Mc {
  margin-bottom: 7px;
}

.Centered {
  text-align: center;
}

.Link {
  color: white;

  &:hover,
  &:focus {
    color: #ffffff;
    text-shadow: 1px 1px 2px #21d1ec;
  }
}

.Cta {
  display: flex;
  justify-content: center;
  padding:0 10px;
}

@include breakpoint(medium) {
  .Content {
    max-width: $max-width-small;
    margin: 0 auto;
  }
}
