@import "../../../styles/variables";

.About {
  padding: 50px 20px;
  background-color: rgba(black, 0.7);
  text-align: center;
  width: 100%;
}

@include breakpoint(medium) {
  .About {
    padding: 100px 45px;
  }

  .Content {
    max-width: 900px;
    margin: 0 auto;
  }
}

@include breakpoint(large) {
}
