@import "../../styles/variables";

.Wrapper {
  background-image: url("/nebula.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 58px;
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Earth {
  max-width: 100%;
}
