.Button {
  padding: 12px 16px;
  background-color: black;
  color: white;
  text-decoration: none;
  transition: 0.25s ease-in-out;
  border: 1px solid white;
  font-weight: 400;
  text-transform: uppercase;
  outline-color: #f396f9;

  &:hover,
  &:focus {
    transform: scale(1.025);
    box-shadow: 0px 0px 40px 0px #f8c1fc;
  }
}
