@import "../../../styles/variables";

.Wrapper {
  width: 100%;
}

.Content {
  padding: 50px 20px;
}

.Heading {
  text-align: center;
  max-width: 80%;
  margin: 0 auto 34px;
}

.Stages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Stage {
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 25px;
  background-color: rgba(black, 0.7);
  box-shadow: 0px 0px 20px 0px #f8c1fc;
  transition: all ease-in-out 0.25s;

  &Glow {
    box-shadow: 0px 0px 40px 0px #f8c1fc;
    transform: scale(1.05);
  }

  &Fade {
    box-shadow: 0px 0px 10px 0px #f8c1fc;
  }
}

.LineupCTA {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}

.ByLine {
  margin: 10px 0 16px;
}

@include breakpoint(medium) {
  .Stages {
    padding: 0 50px;
  }

  .Content {
    padding: 100px 45px;
    max-width: $max-width;
    margin: 0 auto;
  }
}

@include breakpoint(large) {
  .Stages {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 400px));
  }

  .Stage {
    max-width: 300px;
  }
}
