.Author {
  display: block;
  margin-top: 12px;
}

.Logo {
  width: 100%;
  max-width: 600px;
}

.Heading {
  margin-bottom: 12px;
}

.Section {
  margin-bottom: 45px;
}

.Image1 {
  width: 100%;
  margin-bottom: 45px;
}

.Button {
  margin-bottom: 25px;
}

.Extras {
  display: flex;
  flex-direction: column;
}

.Video {
  width: 100%;
  margin-bottom: 45px;
}
