@import "../../../styles/variables";

.Wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.Svg {
  width: 100px;
}

@include breakpoint(large) {
  .Svg {
    width: 200px;
  }
}
