@import "../../styles/variables";

.Wrapper {
  background-image: url("/bg2x-min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.Layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Earth {
  max-width: 100%;
}

.ArtistLogo {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.ArtistMini {
  margin-bottom: 65px;
}

@include breakpoint(large) {
  .Wrapper {
    padding-top: 44px;
  }
}
