@import "../../../styles/variables";

.Content {
  text-align: center;
}

.Cta {
  display: block;
  margin: 50px 0;
}

@include breakpoint(medium) {
  .Content {
    max-width: $max-width-small;
    margin: 0 auto;
  }

  .Cta {
    display: inline-block;
    margin-right: 24px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
