.Author {
  display: block;
  margin-top: 12px;
}

.Logos {
  margin: 70px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Logo {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 45px;
}

.Heading {
  margin-bottom: 12px;
}

.Section {
  margin-bottom: 45px;
}

.Image1 {
  width: 100%;
  margin-bottom: 45px;
}

.Button {
  margin-bottom: 25px;
}

.Extras {
  display: flex;
  flex-direction: column;
}
