@import "../../styles/variables";

.BlackDiv {
  padding: 60px 20px;
  background-color: rgba(black, 0.7);
  width: 100%;
}

.Details {
  max-width: $max-width-small;
  margin: 0 auto;
}

.ApplicationLink {
  margin: 50px auto;
  display: block;
}

@include breakpoint(medium) {
  .Wrapper {
    padding-top: 44px;
  }
}

@include breakpoint(medium) {
  .Buttons {
    text-align: center;
  }

  .ApplicationLink {
    display: inline-block;
    margin-right: 24px;
  }
}
