@import "../../styles/variables";

.Wrapper {
  position: absolute;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 40px;
  padding: 20px 0;
}

.Dropaganda {
  width: 150px;
}

.Nav {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.SocialLink {
  margin-right: 20px;
}

.Link {
  font-family: "Agency", arial;
  color: white;
  margin-left: 24px;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: #f396f9;
  }
}

@include breakpoint(medium) {
  .Wrapper {
    width: 100%;
    position: absolute;
    height: 100px;
  }

  .Dropaganda {
    padding-top: 0;
  }
}
