@import "../../styles/variables";

.Wrapper {
  margin: 0 auto;
  background-color: rgba(black, 0.7);
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.Content {
  width: 100%;
  max-width: $max-width;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: $max-width;
  margin: 0 40px;
}

.Dropaganda {
  width: 150px;
}

.NavLink {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px 10px;

  &:hover,
  &:focus {
    color: #f396f9;
  }
}

.SocialLink {
  margin-right: 20px;
  height: 24px;
  outline-color: #f396f9;
}

@include breakpoint(medium) {
  .Wrapper {
    width: 100%;
    position: absolute;
  }

  .Dropaganda {
    padding-top: 0;
  }
}
