@import "../../styles/variables";

.Link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  white-space: normal;
  outline-color: #21d1ec;
  cursor: pointer;
  font-weight: 600;

  &:hover,
  &:focus {
    color: #ffffff;
    text-shadow: 1px 1px 2px #21d1ec;
  }

  &:active {
    border-bottom: 2px solid white;
  }
}
