@import "../../styles/variables";

.Link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  outline-color: #e60073;
  white-space: normal;
  outline-color: #f396f9;
  cursor: pointer;
  font-weight: 600;

  &:hover,
  &:focus {
    color: #ffffff;
    text-shadow: 0 0 5px #fff, 0 0 10px #f396f9, 0 0 20px #f396f9,
      0 0 30px #f396f9, 0 0 40px #f396f9, 0 0 50px #f396f9, 0 0 60px #f396f9;
  }
}
